:root{
  /* Mobile 模式下页面最大宽  */
  --xxl-max-body-width: 768px;
  /* Mobile 模式下的内容宽度  */
  --xxl-max-body-width-center: calc(var(--xxl-max-body-width) - 40px);

  /* PC 模式下小屏的宽度断点  */
  --xxl-page-min-width: 1040px;
  /* PC 小屏模式下的内容宽度  */
  --xxl-page-min-width-center: calc(var(--xxl-page-min-width) - 80px);
  /* PC 模式下大屏的宽度断点  */
  --xxl-page-max-width: 1220px;
  /* PC 大屏模式下的内容宽度  */
  --xxl-page-max-width-center: calc(var(--xxl-page-max-width) - 60px);
}