// Mobile 模式下页面最大宽 
$max-body-width = 768px 
// Mobile 模式下的内容宽度 
$max-body-width-center = $max-body-width - 40px 


// PC 模式下小屏的宽度断点 
$page-min-width = 1040px 
// 小屏模式下的内容宽度 
$page-min-width-center = $page-min-width - 80px 
// PC 模式下大屏的宽度断点 
$page-max-width = 1220px // 触屏三合一上的最大宽 
// 大屏模式下的内容宽度 
$page-max-width-content = $page-max-width - 60px 